.card {
  display: grid;
  text-align: center;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  background-color: $dark-grey;

  &__header {
    display: grid;
  }
  &__image {
    padding-top: 1rem;
    img {
      width: 85px;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    color: $white;
    margin-bottom: 0;
  }

  &__town {
    color: $green;
    margin-top: 5px;
    font-weight: 600;
  }

  &__job {
    color: $white;
    font-weight: 600;
  }

  &__menu {
    display: grid;
    width: 100%;

    a {
      display: inline-block;
      width: 100%;
      margin-block: 6px;
      padding: 10px;
      background-color: $grey;
      color: $white;
      font-weight: 700;
      border-radius: 8px;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

      &:hover {
        background-color: $green;
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    padding: 1.5rem 2.5rem;
  }
}
